<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou um link para alterar a sua senha. Você pode fazer isso pelo link abaixo.password.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou isso, por favor ignore este email.</p>
<p>Sua senha não vai mudar até você acessar o link acima e criar outra.</p>
