<p>Olá <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada por um excesso de tentativas mal sucedidas de entrar.</p>

<p>Acesse o link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
